<div class="toolbar" role="banner">
    <button mat-icon-button color="primary" class="home-button" (click)="goToHome()" aria-label="Example icon button with a home icon">
        <mat-icon>home</mat-icon>
        <!-- <a routerLink="/home" routerLinkActive="active"></a> -->
    </button>
  <span class="title">Caitlyn's Nest</span>
    <div class="spacer"></div>
    <a aria-label="LinkedIn" target="_blank" rel="noopener" href="https://www.linkedin.com/in/caitlyn-zheng" title="LinkedIn">
      <img class="icon" src="../../assets/linkedin.png">
    </a>
</div>

<div class="content" role="main">
