
<div class="content">
    <mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Caitlyn Zheng</mat-card-title>
        <mat-card-subtitle>About</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/IMG_0030.PNG">
    <mat-card-content>
        <p>
        Hi! My name is Caitlyn. I am a software engineer. I decided to start a blog that serves as my personal space
        to record anything important in life that I have learned. I will be glad if the content that I post here
        is helpful or enjoyable. It is nice to meet you and I hope you have fun here.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Featured Posts</button>
        <button mat-button (click)="navigate2AllPosts()">All Posts</button>
    </mat-card-actions>
    </mat-card>
    <footer class="footer">
      Copyright © Caitlyn Zheng 2022 &nbsp;
  </footer>
</div>
